* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #FFFFF0;
    min-height: 100vh;
}

nav a:hover {
    background-color: lightgray;
}

nav li:first-child {
    margin-right: auto;
}

.card-img-top {
    border-radius: 30px;
    max-width: 360px;
    margin: auto;
    height: 251px;



}

.card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.3);
}

.card-body {
    padding: 25px;
    margin-top: -16px;
}

.card-text {
    text-align: left;
}

footer {
    color: blue;
}

#darkModeToggle {
    color: gray;
    padding: 10px;
    border-radius: 5px;

}

.container.animate-slide {
  animation: slideOutIn 0.5s ease;
}

@keyframes slideOutIn {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(100%);
    opacity: 0;
  }
  60% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.container.animate-check {
  animation: checkFlash 4s linear;
}

@keyframes checkFlash {
  0%   { background-color: white; }
  15%  { background-color: #fc00ca; } 
  30%  { background-color: #FF6347; } 
  45%  { background-color: #1E90FF; }
  60%  { background-color: #FFA500; } 
  75%  { background-color: #FFFF00; }
  90%  { background-color: #8A2BE2; } 
  100% { background-color: white; }
}
